<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community - CookBook</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    
    <div class="container">
      <h1>Explore Our Community</h1>
      
      <div class="card">
        <div class="card-body">
          <% if (users.length > 0) { %>
            <ul>
              <% users.forEach(user => { %>
                <li>
                  <div class="item-name"><%= user.username %>'s Pantry</div>
                  <div class="item-actions">
                    <a href="/users/<%= user._id %>" class="button">View Pantry</a>
                  </div>
                </li>
              <% }) %>
            </ul>
          <% } else { %>
            <p>No users found in the community.</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>